
<h1>Contact Autograde</h1>

<p class="lead">
Hey there! We're committed to doing the absolute best job we can to make your
experience on Autograde amazing. Here are some frequently asked questions:
</p>

<div class="row">
  <div class="col l6">
    <h3>I have an issue with the way my assignment was graded.</h3>
    <p>
    That's not exactly a question, but you should probably check with your
    professor. They're the ones who can help with regrades, getting grading
    feedback, questions about due dates, and other class-specific details.
    </p>
  </div>
  <div class="col l6">
    <h3>Can you add me to [this class I'm supposed to be in]?</h3>
    <p>
    No, sorry. Once again, you'll have to check with your professor for this one.
    </p>
  </div>
</div><!-- container -->
<hr>
<div class="row">
  <div class="col l6">
    <h3>Where can I learn more about Autograde?</h3>
    <p>
    For more information about the Autograde Project, check out the <b><a href="https://github.com/anupamk9/autograde/">GitHub repository</a></b>.
      If you encounter an issue along the way, report it or send us an email!
    </p>
  </div>
</div><!-- container -->
