
<h1>Welcome to Autograde!</h1>

<p class="lead">
Hey there! We noticed that you're not currently associated with any courses.
Here are some resources to get you started.
</p>

<h2>For students</h2>

<div class="container">
  <div class="row">
    <div class="col l6">
      <h3>How can I join a course?</h3>
      <p>
      If your instructor has provided you with an access code, you can join the course via the button below.

      Otherwise, fire off an email to your instructor and they can make sure that you get added.
      </p>
      <%= link_to "<i class='material-icons left'>add</i> Join Course".html_safe, join_course_courses_path, title: "Join Course", class: "btn btn-large blue lighten-2" %>
    </div>
  </div><!-- row -->
</div><!-- container -->

<h2>For instructors</h2>

<div class="container">
  <div class="row">
    <div class="col l6">
      <h3>How can I create my course?</h3>
      <p>
      You should ask your system administrator to create your course for you. If
      you're also the system administrator, see the section below!
      </p>
    </div>

    <div class="col l6">
      <h3>How do I manage my course?</h3>
      <p>
      We've got a bunch of documentation for how to create documentation online
      at <a href="https://github.com/anupamk9/autograde">https://github.com/anupamk9/autograde/</a>.
      Specifically, you'll want to check out the
      <a href="https://github.com/anupamk9/autograde">Instructor <%# enter documentation %>
      Guide</a>.
      </p>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col l6">
      <h3>How do I write an assessment autograder?</h3>
      <p>
      The instructions for creating labs, autograders, and assessments are also
      online at
      <a href="https://github.com/anupamk9/autograde">https:/github.com/anupamk9/autograde/</a>,
      in the section called
      <a href="https://github.com/anupamk9/autograde">Lab Author Guide</a>.
      </p>
    </div>
  </div><!-- row -->
</div><!-- container -->

<%= begin
      render partial: "topannounce"
    rescue StandardError
      nil
    end %>
