<div id="footer">
    <a href="https://github.com/anupamk9/autograde">Autograde Project</a>
    &middot; <a href="/home/contact">Contact</a>
    &middot; <a href="https://github.com/anupamk9/autograde">GitHub</a>

    <span class="site_version">v<%= Rails.configuration.site_version %></span>
</div>
